.aheart-row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
  margin-right: calc(var(--aheart-row-gutter-horizontal, 0px) / -2);
  margin-left: calc(var(--aheart-row-gutter-horizontal, 0px) / -2);
  row-gap: var(--aheart-row-gutter-vertical, 0px);
}

.aheart-row.is-nowrap {
  flex-wrap: nowrap;
}

.aheart-row--justify-start {
  justify-content: flex-start;
}

.aheart-row--justify-end {
  justify-content: flex-end;
}

.aheart-row--justify-center {
  justify-content: center;
}

.aheart-row--justify-space-around {
  justify-content: space-around;
}

.aheart-row--justify-space-between {
  justify-content: space-between;
}

.aheart-row--justify-space-evenly {
  justify-content: space-evenly;
}

.aheart-row--align-top {
  align-items: flex-start;
}

.aheart-row--align-middle {
  align-items: center;
}

.aheart-row--align-bottom {
  align-items: flex-end;
}

.aheart-row--align-stretch {
  align-items: stretch;
}

.aheart-col {
  position: relative;
  flex: var(--aheart-col-active-flex, var(--aheart-col-flex, 0 0 calc(var(--aheart-col-active-span, var(--aheart-col-span, 24)) / 24 * 100%)));
  max-width: calc(var(--aheart-col-active-span, var(--aheart-col-span, 24)) / 24 * 100%);
  min-height: 1px;
  min-width: 0;
  padding-right: calc(var(--aheart-row-gutter-horizontal, 0px) / 2);
  padding-left: calc(var(--aheart-row-gutter-horizontal, 0px) / 2);
  margin-left: calc(var(--aheart-col-active-offset, var(--aheart-col-offset, 0)) / 24 * 100%);
  order: var(--aheart-col-active-order, var(--aheart-col-order, 0));
  left: calc(var(--aheart-col-active-push, var(--aheart-col-push, 0)) / 24 * 100%);
  right: calc(var(--aheart-col-active-pull, var(--aheart-col-pull, 0)) / 24 * 100%);
  box-sizing: border-box;
}

@media (min-width: 480px) {
  .aheart-row {
    --aheart-row-gutter-horizontal: var(--aheart-row-xs-gutter-horizontal, var(--aheart-row-gutter-horizontal));
    --aheart-row-gutter-vertical: var(--aheart-row-xs-gutter-vertical, var(--aheart-row-gutter-vertical));
  }

  .aheart-col-xs {
    --aheart-col-active-span: var(--aheart-col-xs-span, var(--aheart-col-span, 24));
    --aheart-col-active-offset: var(--aheart-col-xs-offset, var(--aheart-col-offset, 0));
    --aheart-col-active-order: var(--aheart-col-xs-order, var(--aheart-col-order, 0));
    --aheart-col-active-push: var(--aheart-col-xs-push, var(--aheart-col-push, 0));
    --aheart-col-active-pull: var(--aheart-col-xs-pull, var(--aheart-col-pull, 0));
    --aheart-col-active-flex: var(--aheart-col-xs-flex, var(--aheart-col-flex, 0 0 calc(var(--aheart-col-xs-span, var(--aheart-col-span, 24)) / 24 * 100%)));
  }
}

@media (min-width: 576px) {
  .aheart-row {
    --aheart-row-gutter-horizontal: var(--aheart-row-sm-gutter-horizontal, var(--aheart-row-gutter-horizontal));
    --aheart-row-gutter-vertical: var(--aheart-row-sm-gutter-vertical, var(--aheart-row-gutter-vertical));
  }

  .aheart-col-sm {
    --aheart-col-active-span: var(--aheart-col-sm-span, var(--aheart-col-span, 24));
    --aheart-col-active-offset: var(--aheart-col-sm-offset, var(--aheart-col-offset, 0));
    --aheart-col-active-order: var(--aheart-col-sm-order, var(--aheart-col-order, 0));
    --aheart-col-active-push: var(--aheart-col-sm-push, var(--aheart-col-push, 0));
    --aheart-col-active-pull: var(--aheart-col-sm-pull, var(--aheart-col-pull, 0));
    --aheart-col-active-flex: var(--aheart-col-sm-flex, var(--aheart-col-flex, 0 0 calc(var(--aheart-col-sm-span, var(--aheart-col-span, 24)) / 24 * 100%)));
  }
}

@media (min-width: 768px) {
  .aheart-row {
    --aheart-row-gutter-horizontal: var(--aheart-row-md-gutter-horizontal, var(--aheart-row-gutter-horizontal));
    --aheart-row-gutter-vertical: var(--aheart-row-md-gutter-vertical, var(--aheart-row-gutter-vertical));
  }

  .aheart-col-md {
    --aheart-col-active-span: var(--aheart-col-md-span, var(--aheart-col-span, 24));
    --aheart-col-active-offset: var(--aheart-col-md-offset, var(--aheart-col-offset, 0));
    --aheart-col-active-order: var(--aheart-col-md-order, var(--aheart-col-order, 0));
    --aheart-col-active-push: var(--aheart-col-md-push, var(--aheart-col-push, 0));
    --aheart-col-active-pull: var(--aheart-col-md-pull, var(--aheart-col-pull, 0));
    --aheart-col-active-flex: var(--aheart-col-md-flex, var(--aheart-col-flex, 0 0 calc(var(--aheart-col-md-span, var(--aheart-col-span, 24)) / 24 * 100%)));
  }
}

@media (min-width: 992px) {
  .aheart-row {
    --aheart-row-gutter-horizontal: var(--aheart-row-lg-gutter-horizontal, var(--aheart-row-gutter-horizontal));
    --aheart-row-gutter-vertical: var(--aheart-row-lg-gutter-vertical, var(--aheart-row-gutter-vertical));
  }

  .aheart-col-lg {
    --aheart-col-active-span: var(--aheart-col-lg-span, var(--aheart-col-span, 24));
    --aheart-col-active-offset: var(--aheart-col-lg-offset, var(--aheart-col-offset, 0));
    --aheart-col-active-order: var(--aheart-col-lg-order, var(--aheart-col-order, 0));
    --aheart-col-active-push: var(--aheart-col-lg-push, var(--aheart-col-push, 0));
    --aheart-col-active-pull: var(--aheart-col-lg-pull, var(--aheart-col-pull, 0));
    --aheart-col-active-flex: var(--aheart-col-lg-flex, var(--aheart-col-flex, 0 0 calc(var(--aheart-col-lg-span, var(--aheart-col-span, 24)) / 24 * 100%)));
  }
}

@media (min-width: 1200px) {
  .aheart-row {
    --aheart-row-gutter-horizontal: var(--aheart-row-xl-gutter-horizontal, var(--aheart-row-gutter-horizontal));
    --aheart-row-gutter-vertical: var(--aheart-row-xl-gutter-vertical, var(--aheart-row-gutter-vertical));
  }

  .aheart-col-xl {
    --aheart-col-active-span: var(--aheart-col-xl-span, var(--aheart-col-span, 24));
    --aheart-col-active-offset: var(--aheart-col-xl-offset, var(--aheart-col-offset, 0));
    --aheart-col-active-order: var(--aheart-col-xl-order, var(--aheart-col-order, 0));
    --aheart-col-active-push: var(--aheart-col-xl-push, var(--aheart-col-push, 0));
    --aheart-col-active-pull: var(--aheart-col-xl-pull, var(--aheart-col-pull, 0));
    --aheart-col-active-flex: var(--aheart-col-xl-flex, var(--aheart-col-flex, 0 0 calc(var(--aheart-col-xl-span, var(--aheart-col-span, 24)) / 24 * 100%)));
  }
}

@media (min-width: 1600px) {
  .aheart-row {
    --aheart-row-gutter-horizontal: var(--aheart-row-xxl-gutter-horizontal, var(--aheart-row-gutter-horizontal));
    --aheart-row-gutter-vertical: var(--aheart-row-xxl-gutter-vertical, var(--aheart-row-gutter-vertical));
  }

  .aheart-col-xxl {
    --aheart-col-active-span: var(--aheart-col-xxl-span, var(--aheart-col-span, 24));
    --aheart-col-active-offset: var(--aheart-col-xxl-offset, var(--aheart-col-offset, 0));
    --aheart-col-active-order: var(--aheart-col-xxl-order, var(--aheart-col-order, 0));
    --aheart-col-active-push: var(--aheart-col-xxl-push, var(--aheart-col-push, 0));
    --aheart-col-active-pull: var(--aheart-col-xxl-pull, var(--aheart-col-pull, 0));
    --aheart-col-active-flex: var(--aheart-col-xxl-flex, var(--aheart-col-flex, 0 0 calc(var(--aheart-col-xxl-span, var(--aheart-col-span, 24)) / 24 * 100%)));
  }
}
