.aheart-floating--top {
  bottom: calc(100% + var(--aheart-spacing-sm));
  left: 50%;
  transform: translateX(-50%);
}

.aheart-floating--topLeft {
  bottom: calc(100% + var(--aheart-spacing-sm));
  left: 0;
}

.aheart-floating--topRight {
  right: 0;
  bottom: calc(100% + var(--aheart-spacing-sm));
}

.aheart-floating--bottom {
  top: calc(100% + var(--aheart-spacing-sm));
  left: 50%;
  transform: translateX(-50%);
}

.aheart-floating--bottomLeft {
  top: calc(100% + var(--aheart-spacing-sm));
  left: 0;
}

.aheart-floating--bottomRight {
  top: calc(100% + var(--aheart-spacing-sm));
  right: 0;
}

.aheart-floating--left {
  top: 50%;
  right: calc(100% + var(--aheart-spacing-sm));
  transform: translateY(-50%);
}

.aheart-floating--leftTop {
  top: 0;
  right: calc(100% + var(--aheart-spacing-sm));
}

.aheart-floating--leftBottom {
  right: calc(100% + var(--aheart-spacing-sm));
  bottom: 0;
}

.aheart-floating--right {
  top: 50%;
  left: calc(100% + var(--aheart-spacing-sm));
  transform: translateY(-50%);
}

.aheart-floating--rightTop {
  top: 0;
  left: calc(100% + var(--aheart-spacing-sm));
}

.aheart-floating--rightBottom {
  bottom: 0;
  left: calc(100% + var(--aheart-spacing-sm));
}

.aheart-floating__arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
  transform: rotate(45deg);
}

.aheart-floating--top .aheart-floating__arrow,
.aheart-floating--topLeft .aheart-floating__arrow,
.aheart-floating--topRight .aheart-floating__arrow {
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
}

.aheart-floating--bottom .aheart-floating__arrow,
.aheart-floating--bottomLeft .aheart-floating__arrow,
.aheart-floating--bottomRight .aheart-floating__arrow {
  top: -4px;
  left: 50%;
  margin-left: -4px;
}

.aheart-floating--left .aheart-floating__arrow,
.aheart-floating--leftTop .aheart-floating__arrow,
.aheart-floating--leftBottom .aheart-floating__arrow {
  top: 50%;
  right: -4px;
  margin-top: -4px;
}

.aheart-floating--right .aheart-floating__arrow,
.aheart-floating--rightTop .aheart-floating__arrow,
.aheart-floating--rightBottom .aheart-floating__arrow {
  top: 50%;
  left: -4px;
  margin-top: -4px;
}
