.aheart-divider {
  box-sizing: border-box;
  color: var(--aheart-color-text);
  --aheart-divider-border-width: 1px;
  --aheart-divider-border-style: solid;
  --aheart-divider-orientation-margin: 8%;
}

.aheart-divider--horizontal {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
  margin: var(--aheart-spacing-md) 0;
}

.aheart-divider__line {
  flex: 1;
  border-color: var(--aheart-color-border);
  border-style: var(--aheart-divider-border-style);
}

.aheart-divider--horizontal .aheart-divider__line {
  border-width: var(--aheart-divider-border-width) 0 0;
}

.aheart-divider--vertical .aheart-divider__line {
  display: inline-block;
  height: 0.9em;
  border-width: 0 0 0 var(--aheart-divider-border-width);
}

.aheart-divider--vertical {
  display: inline-flex;
  margin: 0 var(--aheart-spacing-sm);
  vertical-align: middle;
}

.aheart-divider--left.has-text .aheart-divider__line:first-child,
.aheart-divider--start.has-text .aheart-divider__line:first-child,
.aheart-divider--right.has-text .aheart-divider__line:last-child,
.aheart-divider--end.has-text .aheart-divider__line:last-child {
  flex: 0.08;
}

.aheart-divider--left.has-text .aheart-divider__line:first-child,
.aheart-divider--start.has-text .aheart-divider__line:first-child {
  max-width: var(--aheart-divider-orientation-margin);
}

.aheart-divider--right.has-text .aheart-divider__line:last-child,
.aheart-divider--end.has-text .aheart-divider__line:last-child {
  max-width: var(--aheart-divider-orientation-margin);
}

.aheart-divider--small {
  --aheart-divider-border-width: 1px;
}

.aheart-divider--middle {
  --aheart-divider-border-width: 1px;
}

.aheart-divider--large {
  --aheart-divider-border-width: 2px;
}

.aheart-divider__text {
  padding: 0 var(--aheart-spacing-sm);
  font-weight: 500;
}

.aheart-divider.is-dashed {
  --aheart-divider-border-style: dashed;
}

.aheart-divider.is-dotted {
  --aheart-divider-border-style: dotted;
}

.aheart-divider.is-plain .aheart-divider__text {
  font-weight: 400;
}
